
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.the-cozy-grind-TGT {
  background-position: -15.9573rem 9.2406rem;
  background-image: url('REPLACE_IMAGE:b23d7657a4677a771469806013938b77c4c07615');
  width: 100%;
  height: 397.1rem;
  position: relative;
  overflow: hidden;
  background-size: 126.888% 16.938%;

  .rectangle-rT1 {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    width: 150rem;
    height: 9.9rem;
  }
  .frame-4hV {
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2.8rem;
    position: absolute;
    left: 81.3rem;
    top: 3.6rem;
  }
  .rectangle-yJf {
    width: 7.8rem;
    height: 3.3rem;
    position: absolute;
    left: 97.2rem;
    top: 3.3rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.8700000048);
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .rectangle-5cb {
    height: 3.3rem;
    border: solid 0.1rem #000000;
    border-radius: 5rem;
    width: 9.4rem;
    left: 106.6rem;
    top: 3.3rem;
    box-sizing: border-box;
    background-color: #000000;
    position: absolute;
  }
  .rectangle-n1D {
    left: 0;
    top: 61.1038rem;
    object-fit: contain;
    vertical-align: top;
    width: 150.285rem;
    height: 55.0923rem;
    position: absolute;
  }
  .rectangle-7JP {
    width: 11.7rem;
    height: 3.5rem;
    position: absolute;
    left: 60rem;
    top: 79.5rem;
    border: solid 0.1rem #1e3932;
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .rectangle-qVH {
    height: 52.1rem;
    position: absolute;
    left: 0;
    top: 105.7rem;
    background-color: #337481;
    width: 151rem;
  }
  .rectangle-NVD {
    width: 11.7rem;
    height: 3.5rem;
    position: absolute;
    left: 56.9rem;
    top: 148.1rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .rectangle-uEF {
    top: 157.8rem;
    background-color: #d9edfa;
    width: 150rem;
    height: 52.1rem;
    position: absolute;
    left: 0.4rem;
  }
  .rectangle-ps1 {
    width: 11.7rem;
    height: 3.5rem;
    position: absolute;
    left: 59rem;
    top: 199.5rem;
    border: solid 0.1rem #1e3932;
    box-sizing: border-box;
    border-radius: 5rem;
  }
  .rectangle-wgj {
    background-color: #337481;
    width: 60rem;
    height: 52.1rem;
    position: absolute;
    left: 77rem;
    top: 183.9rem;
  }
  .rectangle-UwZ {
    width: 151.4rem;
    height: 58.2rem;
    position: absolute;
    left: 0;
    top: 205.3rem;
    background-color: #000000;
  }
  .rectangle-1Rh {
    left: 55.1rem;
    top: 255.3rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    border-radius: 5rem;
    width: 11.7rem;
    height: 3.5rem;
    position: absolute;
  }
  .rectangle-waF {
    position: absolute;
    left: 0;
    top: 263.5rem;
    background-color: #f1efeb;
    width: 150rem;
    height: 34.9rem;
  }
  .rectangle-6CF {
    width: 150rem;
    height: 35.1rem;
    position: absolute;
    left: 59rem;
    top: 263.5rem;
    background-color: #006241;
  }
  .rectangle-EpF {
    border-radius: 5rem;
    width: 12.1rem;
    height: 3.5rem;
    position: absolute;
    left: 61rem;
    top: 292rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .menu-MP5 {
    height: 2.1rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.8700000048);
    top: 3.8rem;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.14rem;
    text-decoration-line: underline;
    font-family: Arial, 'Source Sans Pro';
    width: 4.4rem;
    left: 18.4rem;
    font-size: 1.4rem;
    font-weight: 900;
  }
  .rewards-zgw {
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.14rem;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    left: 28.8rem;
    top: 3.7rem;
    font-family: Arial, 'Source Sans Pro';
    width: 7.2rem;
    font-weight: 900;
  }
  .types-of-coffees-Hg3 {
    line-height: 1.6153846154;
    text-transform: uppercase;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.8700000048);
    width: 13.2rem;
    font-weight: 900;
    text-decoration-line: underline;
    left: 44.8rem;
    top: 3.7rem;
    font-size: 1.3rem;
    letter-spacing: 0.14rem;
  }
  .find-a-store-ZdZ {
    height: 2.1rem;
    position: absolute;
    left: 83.9rem;
    top: 3.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.016rem;
    color: rgba(0, 0, 0, 0.8700000048);
    white-space: nowrap;
    width: 7.6rem;
    font-weight: 900;
    line-height: 1.5;
    font-family: Arial, 'Source Sans Pro';
  }
  .sign-in-fAo {
    width: 4.1rem;
    left: 99.05rem;
    font-size: 1.4rem;
    height: 1.7rem;
    position: absolute;
    top: 4rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.1999999455;
    letter-spacing: 0.016rem;
    color: rgba(0, 0, 0, 0.8700000048);
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
  }
  .join-now-ANT {
    font-weight: 400;
    letter-spacing: 0.016rem;
    width: 5.5rem;
    height: 1.7rem;
    position: absolute;
    top: 4rem;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    left: 108.55rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.1999999455;
  }
  .feelz-like-heaven-f4K {
    letter-spacing: 0.016rem;
    white-space: nowrap;
    height: 4.5rem;
    left: 43.85rem;
    top: 63.7rem;
    line-height: 0.75;
    font-weight: 400;
    color: #000000;
    font-family: Bevan, 'Source Sans Pro';
    width: 73.1rem;
    position: absolute;
    text-align: center;
    font-size: 6rem;
  }
  .order-now-k5m {
    height: 2rem;
    position: absolute;
    left: 62.2888rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2000000477;
    letter-spacing: 0.016rem;
    color: #1e3932;
    white-space: nowrap;
    top: 80.5208rem;
    font-size: 1.6rem;
    font-weight: 700;
    width: 7.6rem;
    font-family: Arial, 'Source Sans Pro';
  }
  .top-level-luxurious-prK {
    font-size: 5rem;
    line-height: 1.2;
    color: #ffffff;
    white-space: nowrap;
    height: 6rem;
    left: 45rem;
    top: 114.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-family: Bevan, 'Source Sans Pro';
    width: 58.7rem;
    position: absolute;
    text-align: center;
  }
  .velvety-smooth-deliciously-lush-try-the-new-oleato-golden-foam-iced-shaken-espresso-with-toffeenut-and-the-oleato-caff-latte-with-oatmilk-usm {
    text-align: center;
    font-weight: 900;
    position: absolute;
    height: 7.2rem;
    left: 12.85rem;
    top: 130.5rem;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0.016rem;
    color: #ffffff;
    width: 118.5rem;
    font-family: Arial, 'Source Sans Pro';
  }
  .order-now-uWP {
    position: absolute;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.016rem;
    width: 7.2rem;
    height: 2rem;
    line-height: 1.2000000477;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    left: 59.35rem;
    top: 148.9rem;
  }
  .savory-and-satisfying-CkP {
    font-size: 5rem;
    font-family: Bevan, 'Source Sans Pro';
    white-space: nowrap;
    width: 65.8rem;
    height: 6rem;
    position: absolute;
    top: 173.4rem;
    text-align: center;
    left: 37.35rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.2rem;
    color: #000000;
  }
  .grab-a-subtly-sweet-chicken-maple-butter-egg-sandwich-on-the-way-VjV {
    width: 75.4rem;
    height: 3.6rem;
    position: absolute;
    left: 31.55rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.016rem;
    color: #1e3932;
    white-space: nowrap;
    top: 188.3rem;
    text-align: center;
    font-family: Arial, 'Source Sans Pro';
  }
  .order-now-xd5 {
    height: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2000000477;
    font-family: Arial, 'Source Sans Pro';
    width: 7.2rem;
    position: absolute;
    left: 61.55rem;
    top: 200.3rem;
    text-align: center;
    letter-spacing: 0.016rem;
    color: #1e3932;
    white-space: nowrap;
  }
  .protein-packed-goodness-G7y {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.5;
    width: 61rem;
    height: 6rem;
    position: absolute;
    left: 38.95rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #ffffff;
    top: 225.1rem;
    font-family: Bevan, 'Source Sans Pro';
    white-space: nowrap;
  }
  .enjoy-the-fluffy-egg-white-roasted-red-pepper-egg-bites-and-bacon-gruyre-egg-bites-both-300-calories-or-less-ZMy {
    line-height: 1.5;
    width: 115rem;
    height: 7.2rem;
    left: 9.7rem;
    text-align: center;
    font-size: 2.4rem;
    font-family: Arial, 'Source Sans Pro';
    position: absolute;
    top: 240rem;
    font-weight: 700;
    letter-spacing: 0.016rem;
    color: #ffffff;
  }
  .order-now-c5M {
    font-weight: 400;
    line-height: 1.2000000477;
    letter-spacing: 0.016rem;
    width: 7.2rem;
    height: 2rem;
    position: absolute;
    left: 57.35rem;
    top: 256.1rem;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
  }
  .a-smile-makes-a-big-difference-uaF {
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.9;
    letter-spacing: 0.016rem;
    color: #000000;
    width: 59.4rem;
    left: 42.15rem;
    top: 280.3rem;
    font-family: Arial, 'Source Sans Pro';
  }
  .learn-more-bhy {
    top: 292.8rem;
    font-size: 1.6rem;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
    line-height: 1.2000000477;
    letter-spacing: 0.016rem;
    width: 7.8rem;
    left: 63.25rem;
  }
  .if-this-is-coffee-please-bring-me-some-tea-but-if-this-is-tea-please-bring-me-some-coffee-Wa3 {
    letter-spacing: 0.016rem;
    font-family: Arial, 'Source Sans Pro';
    font-weight: 700;
    line-height: 1.2000000477;
    color: #000000;
    width: 64.9rem;
    left: 41rem;
    top: 91.5rem;
    display: flex;
    font-size: 1.6rem;
    white-space: nowrap;
    position: absolute;
    height: 2rem;
    align-items: center;
    justify-content: center;
  }
  .ellipse-1-A8o {
    height: 9.9488rem;
    position: absolute;
    left: 3.09rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 9.858rem;
  }
  .trans-1-tqV {
    height: 42rem;
    position: absolute;
    left: 63.5rem;
    top: 13.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 27.9rem;
  }
  .the-cozy-grind-TGT-bg {
    width: 150rem;
    height: 397.1rem;
    position: relative;
    background-image: url('REPLACE_IMAGE:b23d7657a4677a771469806013938b77c4c07615');
  }
}
